<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="card w-50">
      <div class="card-header">
        <h4 class="card-title">Patient Form</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="patientFormGroup">
          <div class="mb-4">
            <label class="form-label required">Full Name</label>
            <input type="text" class="form-control" formControlName="fullName" placeholder="First name" aria-label="First name">
            <!-- Validation Errors -->
            <div *ngIf="patientFormControls.fullName.errors">
              <div
              *ngIf="(uiState.isSubmitting && patientFormControls.fullName.errors.required) || (patientFormControls.fullName.touched && patientFormControls.fullName.errors.required)"
              class="v-message">
              This field is required
            </div>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label required">User Name</label>
            <input type="text" class="form-control" formControlName="userName" placeholder="Last name" aria-label="Last name">
            <div *ngIf="patientFormControls.userName.errors">
              <div
              *ngIf="(uiState.isSubmitting && patientFormControls.userName.errors.required) || (patientFormControls.userName.touched && patientFormControls.userName.errors.required)"
              class="v-message">
              This field is required
            </div>
            </div>
          </div>
          <div class="mb-4">
            <label for="inputState" class="form-label">Gender</label>
            <select id="inputState" formControlName="gender" class="form-select">
              <option>Male</option>
              <option>Female</option>
            </select>
            <div *ngIf="patientFormControls.gender.errors">
              <div
              *ngIf="(uiState.isSubmitting && patientFormControls.gender.errors.required) || (patientFormControls.gender.touched && patientFormControls.gender.errors.required)"
              class="v-message">
              This field is required
            </div>
            </div>
          </div>
          <div class="mb-4">
            <label for="inputState" class="form-label">Action</label>
            <select id="inputState" formControlName="action" class="form-select">
              <option>New</option>
              <option>Renewal</option>
            </select>
            <div *ngIf="patientFormControls.action.errors">
              <div
              *ngIf="(uiState.isSubmitting && patientFormControls.action.errors.required) || (patientFormControls.action.touched && patientFormControls.action.errors.required)"
              class="v-message">
              This field is required
            </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary" (click)="onSubmit()">
              <div *ngIf="uiState.isLoading" class="spinner-grow spinner-grow-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <span *ngIf="!uiState.isLoading">Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
